header(class='header')
  div(class='header__container')
    div(class='header__title')
      a(href='/') Some News
    nav(class='nav')
      div(class='nav__button')
      ul(class='nav__menu')
        li(class='nav__menu-item nav__menu-item--username') User name
        li(class='nav__menu-item nav__menu-item--link')
          a(href='/register') Register
        li(class='nav__menu-item nav__menu-item--link')
          a(href='/login') Login
        li(class='nav__menu-item nav__menu-item--link')
          a(href='/logout') Logout