extends layout

block content
  h1 CRUD APIs*
  h6 *Open Network tab in Devtools
  input(type='button' id='getAll' value='GET /news')
  input(type='button' id='getOne' value='GET /news/:id')
  input(type='button' id='post' value='POST /news')
  input(type='button' id='put' value='PUT /news/:id')
  input(type='button' id='delete' value='DELETE /news/:id')
